*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e0f7fa;
}

#h1_clock{
    font-size: 50px;
    text-decoration: underline;
    color: #153327;
    padding: 15px 0;
    text-align: center;
}

#clock_container{
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url(img/clock_2.png);
    background-size: cover;
    margin: auto;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 30%;
    width: 2%;
    top: 20.25%;
    left: 49%;
    opacity: 0.8;
    /* display: none; */
}

#minute{
    height: 35%;
    width: 1.5%;
    top: 15.25%;
    left: 49.2%;
    opacity: 0.8;
    /* display: none; */
}

#second{
    height: 42%;
    width: 1%;
    top: 8.5%;
    left: 49.5%;
    opacity: 0.8;
    /* display: none; */
}